---
import Header from "@/shared/components/Header.astro";
import Hero from "@/features/home/components/home/Hero.astro";
import Stats from "@/features/home/components/home/Stats.astro";
import Features from "@/features/home/components/home/Features.astro";
import Footer from "@/shared/components/Footer.astro";
---

<Header />
<main>
  <Hero />
  <Stats />
  <Features />
</main>
<Footer />
