---
import '../styles/global.css';
import {Toaster} from '../components/ui/sonner'
import { ClientRouter } from 'astro:transitions';

type Props = {
  title?: string;
};

const { title = "Lazarus" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='bg-background text-foreground'>
    <slot />
    <Toaster richColors position='top-center' client:load />
  </body>
  <script>
    const ss = sessionStorage;
    const token = ss.getItem('token');
    if(window.location.pathname === '/dashboard' && !token){
      window.location.href = '/login';
    }else if(window.location.pathname === '/login' && token){
      window.location.href = '/dashboard';
    }
  </script>
</html>
