---
import { UserMenu } from "../dashboard/UserMenu";

type DashboardHeaderProps = {
  pathname: string;
};

const { pathname } = Astro.props;
---

<header
  class="h-16 bg-white border-b border-border flex items-center justify-between px-6 sticky top-0 z-10"
>
  <p class="capitalize font-bold text-xl">{pathname}</p>
  <div class="flex items-center gap-4">
    <UserMenu client:load />
  </div>
</header>
